# Gopkg.toml example
#
# Refer to https://golang.github.io/dep/docs/Gopkg.toml.html
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

# Force dep to vendor non-imported code generators.
required = [
  "github.com/kevinburke/go-bindata",
]

[[constraint]]
  branch = "master"
  name = "github.com/golang/glog"

[[constraint]]
  branch = "master"
  name = "github.com/openshift/api"

[[constraint]]
  branch = "master"
  name = "github.com/openshift/client-go"

[[constraint]]
  branch = "master"
  name = "github.com/openshift/library-go"

[[constraint]]
  name = "github.com/operator-framework/operator-sdk"
  version = "0.7.0"

[[constraint]]
  name = "gopkg.in/yaml.v2"
  version = "2.2.2"

[[constraint]]
  name = "k8s.io/api"
  version = "kubernetes-1.13.1"

[[constraint]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.13.1"

[[constraint]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.13.1"

[[constraint]]
  name = "k8s.io/klog"
  version = "0.3.0"

[[constraint]]
  name = "sigs.k8s.io/controller-runtime"
  version = "0.1.10"

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/kevinburke/go-bindata"
  version = "3.13.0"
