apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-node-tuning-operator
  namespace: openshift-cluster-node-tuning-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cluster-node-tuning-operator
  template:
    metadata:
      labels:
        name: cluster-node-tuning-operator
    spec:
      serviceAccountName: cluster-node-tuning-operator
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - operator: Exists
      containers:
        - name: cluster-node-tuning-operator
          image: registry.svc.ci.openshift.org/openshift/origin-v4.0:cluster-node-tuning-operator
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - cluster-node-tuning-operator
          args:
          - "-v=1"
          env:
          - name: RELEASE_VERSION
            value: "0.0.1-snapshot"
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "node-tuning"
          - name: RESYNC_PERIOD
            value: "600"
          - name: CLUSTER_NODE_TUNED_IMAGE
            value: registry.svc.ci.openshift.org/openshift/origin-v4.0:cluster-node-tuned
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
