SUBSYSTEM=="queues", ACTION=="add", ENV{DEVPATH}=="/devices/pci*/queues/rx*", TAG+="systemd", PROGRAM="/bin/systemd-escape --path --template=update-rps@.service $env{DEVPATH}", ENV{SYSTEMD_WANTS}="%c"
